.column {
	background: var(--COLOR-GRAY-DARK);
	min-height: 20rem;
	color: #fff;
	width: 33%;
	max-width: 20rem;
	margin: 0 0.5rem;
	border-radius: 0.25rem;
	text-align: center;
	padding: 0.25rem;
}

.titleWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titleWrapper button {
	 {
		/* "all: unset", removes all default styling*/
	}
	all: unset;
	background: white;
	color: black;
	width: 20%;
	border-radius: 0.25rem;
	padding: 0.25rem;
	height: fit-content;
	cursor: pointer;
}

.titleWrapper button:hover {
	background: var(--COLOR-GRAY);
	color: white;
}
